---
layout: default
title: home
phrase: Software Developer, Capitalist
---

<div class="container">
    <div class="column full">

    {% for post in paginator.posts limit: 20% %}
    	<div class="container list">

			<a href="{{ post.url }}">{{ post.title }}</a><br />
			<span>{{ post.date | date_to_string }}</span>
            	<div class="posts">
            		<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            	</div>            
            <hr />        
        </div>
    {% endfor %}

    </div>
</div>

<div class="container">
    <div class="column full">

    {% if paginator.previous_page_path %}

       <a href="{{ paginator.previous_page_path }}" class="button circle left-arrow"/>

    {% endif %}

    {% if paginator.next_page_path %}

        <a href="{{ paginator.next_page_path }}" class="button circle right-arrow" />

    {% endif %}

    </div>
</div>