
<section>
    <div class="container">

            <footer>

                <h4 class="row clearfix">Written by Matt Sheehan.</h4>
                <p>Capitalist, camping enthusiast, and tasteless programmer.</p>
                <p class="italic">Warning: I am clueless about what I'm talking about</p>
                <p>
                    <a href="/about.html">About</a><br />
                    <a href="http://github.com/sheehamj13/" target='_blank'>GitHub</a><br />
                    <a href="http://bitwhisp.com" target='_blank'>BitWhisp</a><br />
                </p>

                <center>
                    <div class="megaman animated head"></div>
                </center>

            </footer>

    </div>
</section>



    </body>
</html>
