
<section>
    <div class="container">

            <footer>

                <p>
                    <a href="/about.html">About</a><br />
                    <a href="http://github.com/sheehamj13/" target='_blank'>GitHub</a><br />
                    <a href="http://bitwhisp.com" target='_blank'>BitWhisp</a><br />
                </p>

                
                <div class="megaman animated column full"></div>
                

            </footer>

    </div>
</section>



    </body>
</html>
