
<section>
    <div class="container">

            <footer>

                <p>
                    <a href="{{ site.url }}/about">About</a><br />
                    <a href="http://github.com/sheehamj13/" target='_blank'>GitHub</a><br />
                    <a href="http://bitwhisp.com" target='_blank'>BitWhisp</a><br />
                </p>


                <center>
                    <div class="megaman animated"></div>
                </center>

            </footer>

    </div>
</section>



    </body>
</html>
