<section>
    <div class="container posts">

        <h4 class="row clearfix">Written by Matt Sheehan</h4>
        <p>Capitalist, camping enthusiast, and tasteless programmer.</p>
        <p class="italic">Warning: I am clueless about what I'm talking about</p>

    </div>
</section>

<section>
    <div class="container posts">

        <p class="row clearfix">Related Posts</p>
        
        <div class="row clearfix">

            <ul>

                {% for post in site.related_posts%}

                <li>
                    <div class="row clearfix">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </div>
                </li>

                {% endfor %}

            </ul>

        </div> 

    </div>
</section>