html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
embed, figure, figcaption, footer,
header, hgroup, menu, nav, output,
ruby, section, summary, time, mark,
audio, video {
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1em;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav,
section, summary {
	display: block;
}

blockquote{
	background-color: #2C3E50;
	color: white;
	font-size: 12px;
}

#quote{
	background-color: white;
	font-size: 14px;
	color: gray;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: "Droid Sans", freight-sans-pro, sans-serif;
	color: #404956;
	font-size: 17px;
	line-height: 1.5em;
	margin: 15px;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #34495e;
}

p a {
	color: #2980b9;
}

a:hover {
	color: #95a5a6;
}

h2 {
	font-weight: bold;
	font-size: 1em;
	margin: 2.5em 0em 0em;
	letter-spacing: 1px;
}

p {
	margin-bottom: 1em;
}

.head {
	max-width: 90%;
	margin: 2em auto 3em;
	text-align: center;
	letter-spacing: 1px;
}

.footer {
	text-align: center;
	font-size: .9em;
	color: #aaa;
	margin: 4em 0em 0em 0em;
}

img {
	max-width: 100%;
}

.content {
	max-width: 600px;
	margin: 50px auto 100px;
	width: 100%;
}

strong {
	font-weight: 900;
}

em {
	font-style: italic;
}

.small{
	font-size: 12px;
}

.posts{
	list-style-type: none;
	letter-spacing: 1px;
	text-align: center;
	max-width: 90%;
}

.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(images/profile.jpg) no-repeat center center;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}


.megaman 
{
	background: url(../images/megamanwalking.png) no-repeat;
	width: 64x;
	height: 150px;
}


.animated {
  -webkit-animation: walk .4s steps(4) infinite alternate;
  -moz-animation: walk .4s steps(4) infinite alternate;
  -ms-animation: walk .4s steps(4) infinite alternate;
  -o-animation: walk .4s steps(4) infinite alternate;
  animation: walk .4s steps(4) infinite alternate;
}

@-webkit-keyframes walk {
  from { background-position:  0%; }
  to { background-position: -256px; }
}
@-moz-keyframes walk {
  from { background-position:  0px; }
  to { background-position: -256px; }
}
@-ms-keyframes walk {
  from { background-position:  0px; }
  to { background-position: -256px; }
}
@-o-keyframes walk {
  from { background-position:  0px; }
  to { background-position: -256px; }
}
@keyframes walk {
  from { background-position:  0px; }
  to { background-position: -256px; }
}
